form {
    max-width: 1040px;
    margin: auto;
    display: flex;
}

.form__input {
    background-color: #F1ECE6;
    flex: 1 1 auto;
    min-height: 75px;
    padding: 0 20px 0 20px;
    font-size: 1.5rem;
}

.form__button {
    padding: 0 20px 0 20px;
    background-color: #76B7CD;
    font-size: 1.5rem;
    font-weight: 600;
    color: #F3F3F3;
}